@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exile&display=swap');

:root{
    --azul:#2d3142ff;
    --azul-claro: #4f5d75ff;
    --prata: #bfc0c0ff;
    --branco: #ffffffff;
    --laranja: #ef8354ff;
    --preto: #000000;
    --fonte-primaria: "Exile", system-ui;
    --fonte-secundaria: "DM Sans", sans-serif;
}