@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exile&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root{
    --azul:#2d3142ff;
    --azul-claro: #4f5d75ff;
    --prata: #bfc0c0ff;
    --branco: #ffffffff;
    --laranja: #ef8354ff;
    --preto: #000000;
    --fonte-primaria: "Exile", system-ui;
    --fonte-secundaria: "DM Sans", sans-serif;
}

body{
    background-color: var(--azul);
    color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--fonte-secundaria);
}
.caixa-principal{
    background-color: var(--azul-claro);
    width: 90%;
    text-align: center;
    padding: 20px;
}
.titulo{
    font-family: var(--fonte-primaria);
}
